

.thumbnail{
  width: 100%;
  object-fit: cover;
}

.video-details{
  margin-top: 5px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title{
  font-weight: 500;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info{
  display:inline-block;
}

.channel-picture{
  display:inline-block;
  width:50px;
  vertical-align: top;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 10px;
}  

.profile-picture{
  width:40px;
  height:40px;
  object-fit: cover;
  border-radius: 25px;
  
}

.channel-name,
.views-and-time{
  font-size: 12px;
  color: #606060;
  
}

.channel-name{
  margin-bottom: 4px;
}